<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaron.videoplay.mapper.UserMapper">
    <resultMap id="baseResultMap" type="com.aaron.videoplay.entity.User">
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
        <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="is_on" property="isOn" jdbcType="INTEGER" />
        <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    </resultMap>

    <select id="isExistNickName" parameterType="string" resultType="int">
        select count(*) from user_info  where user_info.nick_name=#{nickName}
    </select>

    <select id="getByNickNameAndPass" resultMap="baseResultMap">
        select* from user_info where nick_name=#{nickName} and user_pass=#{userPass}
    </select>

    <select id="isOn" parameterType="string" resultType="int">
        select is_on from user_info where nick_name=#{nickName}
    </select>

    <insert id="insert" parameterType="com.aaron.videoplay.entity.User" keyProperty="user.userId" useGeneratedKeys="true">
        insert  into user_info(nick_name,user_pass,user_email,is_deleted,user_sex,img_url,is_on) values(#{user.nickName}
        ,#{user.userPass},#{user.userEmail},0,#{user.userSex},#{user.imgUrl},0)
    </insert>

    <update id="update" parameterType="com.aaron.videoplay.entity.User">
        update user_info
        <set >
            <if test="user.nickName != null" >
                nick_name = #{user.nickName,jdbcType=VARCHAR},
            </if>
            <if test="user.userPass != null" >
                user_pass = #{user.userPass,jdbcType=VARCHAR},
            </if>
            <if test="user.userEmail != null" >
                user_email = #{user.userEmail,jdbcType=VARCHAR},
            </if>
            <if test="user.isDeleted != null" >
                is_deleted = #{user.isDeleted,jdbcType=INTEGER},
            </if>
            <if test="user.userSex != null" >
                user_sex = #{user.userSex,jdbcType=INTEGER},
            </if>
            <if test="user.imgUrl != null" >
                img_url = #{user.imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="user.userBirthday != null" >
            user_birthday = #{user.userBirthday,jdbcType=TIMESTAMP},
           </if>
            <if test="user.isOn != null" >
                is_on = #{user.isOn,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{user.userId,jdbcType=INTEGER}
    </update>
</mapper>